In [24]:
import pandas as pd

In [25]:
import numpy as np
import matplotlib as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.model_selection import train_test_split

In [26]:
data=pd.read_csv(r'C:\Users\BHARTI VERMA\Downloads\sample_data_v4.csv')

In [27]:
type(data)

pandas.core.frame.DataFrame

In [28]:
data.head()

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,ML,web-d,fullstack-D,status
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,NaN,1,0,0,selected
1,MS0002,Pune,"Machine Learning, Python","PES MCOE, Pune",Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2018,NaN,66.00/100,NaN,NaN,1,0,0,selected
2,MS0003,Navi Mumbai,"Data Analytics, Data Science, Machine Learning...",Imarticus Learning,PG Diploma in Data Science,NaN,2020,NaN,7.00/10,NaN,NaN,1,0,0,selected
3,MS0004,Bangalore,"Data Analytics, Algorithms, C Programming, Dat...",Dayananda Sagar Institutions,Bachelor of Technology (B.Tech),Information Technology,2022,NaN,NaN,86.80/86.80,10.00/10.00,1,0,0,selected
4,MS0005,Mumbai,"Artifical Intelligence, Computer Vision, Deep ...",Pillai Hoc College Of Engineering And Technolo...,Bachelor of Engineering (B.E),Information Technology,2020,NaN,6.22/10,NaN,NaN,1,0,0,selected

In [29]:
print("data have shape",data.shape)

data have shape (2168, 15)

In [30]:
print("features of data  :  ",data.columns)

features of data  :   Index(['Application ID', 'Current City', 'Other skills', 'Institute', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10', 'ML', 'web-d',
       'fullstack-D', 'status'],
      dtype='object')

In [31]:
data.drop(['Application ID','Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],1,inplace=True)

In [32]:
print("new shape", data.shape)

new shape (2168, 10)

In [33]:
corr=data.corr()

In [34]:
print("new columns", data.columns)

new columns Index(['Current City', 'Other skills', 'Institute', 'Degree', 'Stream',
       'Current Year Of Graduation', 'ML', 'web-d', 'fullstack-D', 'status'],
      dtype='object')

In [35]:
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

C:\Users\BHARTI VERMA\Anaconda3\lib\site-packages\matplotlib\colors.py:479: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

In [36]:
lben=preprocessing.LabelEncoder()

In [37]:
#converting string data to numerical data
columns=['Current City', 'Other skills', 'Institute', 'Degree', 'Stream',
       'Current Year Of Graduation']

In [38]:
for col in columns:
    data[col]=data[col].astype('str')
    data[col]=lben.fit_transform(data[col])

In [39]:
data.head()

,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,ML,web-d,fullstack-D,status
0,162,1550,232,13,199,15,1,0,0,selected
1,162,1550,725,13,126,15,1,0,0,selected
2,141,906,400,54,262,17,1,0,0,selected
3,20,874,212,21,163,19,1,0,0,selected
4,130,250,746,13,163,17,1,0,0,selected

In [40]:
#model selection for prediction:
#splitting data
x=data.iloc[:,:9]
y=data.iloc[:,9]

x.head()

,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,ML,web-d,fullstack-D
0,162,1550,232,13,199,15,1,0,0
1,162,1550,725,13,126,15,1,0,0
2,141,906,400,54,262,17,1,0,0
3,20,874,212,21,163,19,1,0,0
4,130,250,746,13,163,17,1,0,0

In [41]:
y.head()

0    selected
1    selected
2    selected
3    selected
4    selected
Name: status, dtype: object

In [42]:
#splitting in train and test

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [44]:
#model=svm.LinearSVC() - 
model=LogisticRegression(solver='lbfgs',max_iter=1000)
#model=DecisionTreeClassifier(random_state=0)
#model=RandomForestRegressor(n_estimators=20,random_state=0)
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
y_pred=model.predict(x_test)

In [81]:
accuracy=accuracy_score(y_test,y_pred)*100
print(f" the model have accuracy of : {accuracy} percent")

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(f" the con fusion matrix is shown as \n {cm}")

 the model have accuracy of : 100.0 percent
 the con fusion matrix is shown as
 [[120   0]
 [  0 314]]

In [47]:
#'Current City', 'Other skills', 'Institute', 'Degree', 'Stream',
#'Current Year Of Graduation', 'ML', 'web-d', 'fullstack-D', 'status'],



def get_input():
    inp0=input("enter your city")
    inp1=input("enter your skills")
    inp2=input("enter your institute name:")
    inp3=input("enter your degree")
    inp4=input("enter your stream")
    
    
    print("data loaded")
    return[inp0,inp1,inp2,inp3,inp4]
    
    
features=get_input()

#features=pd.DataFrame(features)

def interest_inp():
    inp5=input("enter your year of graduation")
    inp6=input(" do uwhant to pursue Internship in Ml. . enter'1' for a 'yes' and 0 for 'NO'")
    inp7=input("do you whant to pursue Internship for web development. enter'1' for a 'yes' and 0 for 'NO'")
    inp8=input("do you whant to pursue Internship as Full stack developer  enter'1' for a 'yes' and 0 for 'NO'")
    
    print("data loaded")
    return[inp5,inp6,inp7,inp8]
features_interest=interest_inp()

enter your citydelhi
enter your skillsmachine learning
enter your institute name:hmr
enter your degreebtech
enter your streamcse
data loaded
enter your year of graduation12
 do uwhant to pursue Internship in Ml. . enter'1' for a 'yes' and 0 for 'NO'1
do you whant to pursue Internship for web development. enter'1' for a 'yes' and 0 for 'NO'0
do you whant to pursue Internship as Full stack developer  enter'1' for a 'yes' and 0 for 'NO'0
data loaded

In [65]:
new_data=[]

for j in range(0,5):
    new_data.append(features[j])

In [66]:
#for j in features:
    #new_data.append([0])
new_df=pd.DataFrame(new_data)

new_df[0]=lben.fit_transform(new_df[0])

df=features_interest

new_df.append(df)

    0
0   2
1   4
2   3
3   0
4   1
0  12
1   1
2   0
3   0

In [67]:
Inp=np.array(new_df)

Inp=np.append(Inp,df)

Inp=np.reshape(Inp,(1,9))
Inp=Inp.astype(np.float64)

In [69]:
def predict_status(Inp,model=model):
    status=model.predict(Inp)
    print("this is ", status)
    return status

In [70]:
status=predict_status(Inp)

this is  ['selected']

In [71]:
import re
pattern=r"machine learning"

In [72]:
text="web developer, html,css, bootstrap,Ajax, javascript, php,mysql, rest api, aws, gcp git hub,\n python , linux, json, full stack, developer,\n mongodb, express, react.js, node.js, Es6,javascript, python, linux, json, tenserflow, pytorch, numpy, pyPI, \n sci-kit learn, statistical  modeling ,machine learning, deep learning, flask "

In [73]:
match= re.search(pattern,text)

In [74]:
match.span()

(287, 303)

In [57]:
match.start()

287

In [58]:
from difflib import get_close_matches
text

'web developer, html,css, bootstrap,Ajax, javascript, php,mysql, rest api, aws, gcp git hub,\n python , linux, json, full stack, developer,\n mongodb, express, react.js, node.js, Es6,javascript, python, linux, json, tenserflow, pytorch, numpy, pyPI, \n sci-kit learn, statistical  modeling ,machine learning, deep learning, flask '

In [59]:
def find_string(text, pattern):
    print(get_close_matches(text,pattern))
    return [match]

In [60]:
find_string(features[1],text)

[]

In [61]:
match

In [62]:
match.span()

(287, 303)

In [77]:
def print_missing(match, text,status):
    print(f" you possess ...  { match.group()} skill")
    print(f"\n and we are looking for {text} skills ")
    
    print("\n 1)	Web Developer: HTML, CSS, Bootstrap, AJAX, JavaScript, PHP, MySQL, REST API, AWS/GCP, Git/GitHub, Python, Linux, JSON, Authentication/Authorization (JWT) ")
    print("\n 2)	FullStack Developer: HTML, CSS, MongoDB, Express, React.js, Node.js, ES6, Redux, JavaScript, AWS/GCP, Python, Linux, JSON, Authentication/Authorization (JWT)")
    print("\n 3)	ML Developer: Python, TensorFlow, PyTorch, NumPy, PyPI, Sci-kit learn, Statistical Modelling, Machine Learning, Deep Learning, SQL, JSON, AWS/GCP/Heroku, Flask")
    print(f"\n \n so you are { status } for next round ")

In [78]:
print_missing(match, text, status)

 you possess ...  machine learning skill

 and we are looking for web developer, html,css, bootstrap,Ajax, javascript, php,mysql, rest api, aws, gcp git hub,
 python , linux, json, full stack, developer,
 mongodb, express, react.js, node.js, Es6,javascript, python, linux, json, tenserflow, pytorch, numpy, pyPI,
 sci-kit learn, statistical  modeling ,machine learning, deep learning, flask  skills

 1)	Web Developer: HTML, CSS, Bootstrap, AJAX, JavaScript, PHP, MySQL, REST API, AWS/GCP, Git/GitHub, Python, Linux, JSON, Authentication/Authorization (JWT)

 2)	FullStack Developer: HTML, CSS, MongoDB, Express, React.js, Node.js, ES6, Redux, JavaScript, AWS/GCP, Python, Linux, JSON, Authentication/Authorization (JWT)

 3)	ML Developer: Python, TensorFlow, PyTorch, NumPy, PyPI, Sci-kit learn, Statistical Modelling, Machine Learning, Deep Learning, SQL, JSON, AWS/GCP/Heroku, Flask


 so you are ['selected'] for next round